:root {
  --movie-bg: #1F2A37;
  --bg-primary: #0275d8;
  --text-color: #4d97ff ;
  --ivory: #FFFFF0;
  --placeholder-color: #F8F8FF;
  --text-sec: #f4fff8;
}


body {
  height: 4350px;
  background-color: var(--movie-bg);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.fs-18 {
  font-size: 1.125rem;
}

.section-wallpaper {
  position: relative;
  overflow: hidden;
}

nav {
  height: 55px;
}

.search {
  padding-left: 28px;
  width: 220px;
  border: 2px solid var(--ivory);
}

input:focus {
  outline: none;
}

.search::placeholder {
  color: #F8F8FF;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  color: var(--ivory);
}

.scroll-header {
  background-color: #333; /* Set your preferred background color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: #fff;
}

.fa-gear {
  margin-left: 12px;
  color: #fff;
  font-size: 24px;
}

.wallpaper {
  height: 70vh;
  max-height: 735px;
  object-fit: cover; 
  object-position: top;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.sonic-title-img {
  width: clamp(250px, 50%, 250px);
}

.wallpaper-line {
  height: 1px;
  width: 100%;
}

.wallpaper-description {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between; 
  align-items: end; 
}

.wallpaper-left {
  max-width: 40%;
}

.sonic-title-img {
  width: 100%;
  max-width: 250px; 
}

.wallpaper-ratings {
  font-size: 1.2rem;
}

.wallpaper-watch button {
  width: 90px;
  height: 90px;
  font-size: 1.5rem;
}

.watch-now-small {
  height: 48px;
}

.gap-8 {
  gap: 64px;
}

/* Lord of The Rings Wallpaper */
.wallpaper-description-lotr, .wallpaper-description-tem {
  transform: translateY(-380px);
}


.rating-text-lotr, .rating-text-tem {
  width: 550px;
}

.rating-text-lotr {
  transform: translateX(24px);
}

.rating-text-tem {
  transform: translateX(52px);
}

.lotr-title-img, .tem-title-img {
  width: clamp(250px, 50%, 250px);
}

.lotr-title-img {
  position: relative;
  transform: translateX(48px);
}

.tem-title-img {
  transform: translateX(148px);
}

.watch-now-lotr, .watch-now-tem {
  transform: translateX(24px);
}



.wallpaper-lotr {
  height: 70vh;
  max-height: 735px;
  object-fit: cover; 
  object-position: top;
  height: 70vh;
  max-height: 735px;
  object-fit: cover;
  object-position: top;

  /* Apply gradient mask at both top and bottom */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

/* TOP 10 MOVIES */

.section-top-10 {
  margin-top: 180px;
}

.top-10-img {
  height: 220px;
  position: relative;
  z-index: 2;
}

.top-10-text, .top-10-top-text, .featured-text {
  font-size: 128px;
  font-family: 'Orbitron', sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color); 
  font-weight: bold;
  letter-spacing: -8px;

}

.top-10-text {
  position: absolute;
  left: -50px;
  bottom: -66px;
  z-index: 1;
}

.movies-text {
  margin-bottom: -10px;
}

.today-text {
  margin-top: -10px;
}

.next-button, .next-button-trending, .next-button-action, .next-button-featured {
  z-index: 100;
  right: 10px; 
}

.next-button {
  transform: translateY(86px);
}

.next-button-trending {
  transform: translateY(160px);
}

.next-button-action, .next-button-featured { 
  transform: translateY(130px);
}

.next-chevron-btn:hover i.fa-chevron-right {
  color: white !important;
}

/* TRENDING THIS WEEK */

.trending-img {
  height: 360px;
}

.section-featured {
  margin-top: 40px;
  margin-bottom: 120px;
}

.section-trending, .section-action-movies, .mt-80 {
  margin-top: 80px;
}

/* ACTION MOVIES */

.action-movies-img, .featured-img, .popular-img {
  height: 280px;
}

.action-movie-dropdown {
  background-color: var(--text-color);
}

.featured-movies-text {
  margin-top: -60px;
}

/* POPULAR SECTION */
.netflix-img {
  margin-top: -16px;
  width: 220px;
  object-fit: cover;
}

.section-popular {
  margin-top: -180px;
}

/* FOOTER */
.footer-long-text {
  width: 40%;
  font-size: 14px;
}

footer {
  margin-top: -100px;
  padding-top: 90px;
  background: linear-gradient(to top, #0A0F1A, #1A2536, #1F2A37);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}

/* SMALLER SCREEN */
@media (max-width: 768px) {
  .wallpaper-description {
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    transform: translateY(-200px); 
    width: 100%; 
  }

  .carousel-control-prev-icon, .carousel-control-next {
    transform: translateY(-170px); 
  }

  .rating-text {
    position: relative;
    width: 400px;
    text-align: center;
  }

  .watch-now-small {
    height: 48px;
    /* margin-top: -60px; */
  }

  .wallpaper-left {
    align-items: center;
  }

  .section-top-10 {
    margin-top: -180px;
  }

  .top-10-top {
    display: flex;
    flex-direction: column;
  }

  .top-10-text, .featured-text {
    font-size: 96px;
  }

  .featured-text {
    margin-bottom: 32px;
  }

  .movies-today-text {
    margin-top: -42px;
    margin-bottom: 20px;
    text-align: center;
  }

  .movies-text {
    margin-bottom:8px;
  }

  .top-10-img {
    /* position: relative; */
    transform: translateX(-16px);
  }

  .top-10-text {
    transform: translateY(-16px);
  }

  .gap-8 {
    gap: 48px;
  }

  .tem-title-img {
    transform: translateX(116px);
  }

  .rating-text-lotr, .rating-text-tem {
    width: 450px;
  }

  .popular-top {
    display: flex;
    flex-direction: column;
  }

  .popular-top-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .popular-images-container {
    margin-top: 40px;
  }

  .footer {
    display: flex; 
    flex-direction: column-reverse;
  }

  .footer-long-text {
    width: 100%;
  }
}

/* FONTS */

.fs-24 {
  font-size: 24px;
}

.sonic-title-img, .wallpaper-ratings, .rating-text {
  animation: slideInRight 0.8s ease-out forwards;
}

.wallpaper-right {
  animation: slideInLeft 0.8s ease-out forwards;
}

/* ANIMATIONS */
@keyframes slideInRight {
  from {
    transform: translate(-50px);
    opacity: 0;
  } 
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate(50px);
    opacity: 0;
  } 
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

img, .top-10-text, .trending-img, .action-movies-img, .featured-img, .popular-img {
  transition: all 0.2s ease-in-out;
}

/* HOVER */
.top-10-img:hover, .trending-img:hover, .action-movies-img:hover, .featured-img:hover, .popular-img:hover {
  scale: 1.1;
  border: 1px solid var(--text-color);
  filter: brightness(0.7);
  cursor: pointer;
}

.top-10-images:hover .top-10-text {
  transform: translateX(-16px);
  color: var(--text-color);
}

.trending-images, .action-movies-img, .comedy-images {
  position: relative;
}

.play-button {
  font-size: 30px;
}

.play-button-comedy, .play-button-featured, .play-button-popular {
  font-size: 20px;
}

.play-button, .play-button-comedy, .play-button-featured, .play-button-popular, .play-button-top-10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 50%;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.trending-images:hover .play-button, .comedy-images:hover .play-button-comedy, .featured-images:hover .play-button-featured, .popular-images:hover .play-button-popular, .top-10-hover:hover .play-button-top-10 {
  opacity: 1; /* Show on hover */
  transform: translate(-50%, -50%) scale(1.2); 
  cursor: pointer;
  z-index: 200;
}

.nav-link:hover, .navigation-links:hover {
  color: var(--bg-primary) !important;
}

.middle-header a:hover {
  color: var(--bg-primary) !important;
}

.movies-2 {
  margin-top: 120px;
}

#section-mcas {
  margin-top: -200px;
}

/* SECTION MODALS */
.modal-close-button {
  right: 20px;
  top: 20px;
}

.modal-content {
  padding: 0; 
  border-radius: 0; 
}

.modal-body-text {
  transform: translateY(-16px);
}

.modal-body {
  padding: 0; 
}

.modals {
  border-radius: 10px;
  border: 2px solid rgb(37, 36, 36);
}

.poster-title-img {
  position: absolute;
  bottom: 160px;
  /* top: 20px !; */
  left: 26px;
  width: 350px;
  height: 130px !important;
  object-fit: cover;
}

.video-player {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
  display: block;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.modal-text-rating {
  /* border-radius: 4px; */
  /* padding: 2px 6px; */
  color: var(--text-sec);
  /* background-color: #444141; */
}

.color-light-white {
  color: var(--text-sec);
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 18px;
}

.volume-control {
  color:#888684 ;
  border: 1px solid #888684 ;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  bottom: 100px;
  right: 28px;
}

.volume-control:hover {
  color: var(--text-sec);
  border-color: var(--text-sec);
}

.play-btn {
  bottom: 100px;
  left: 28px;
}

