:root {
  --text-color: #4d97ff ;
  --box-text: #e9e0e0;
}


body {
  font-family: 'Poppins', sans-serif;
  height: 2000px;
  overflow-x: hidden;
}

/* SECTION HEADER */

.landing-page-header {
  height: 55px;
}

.fs-20 {
  font-size: 20px; 
}

.fs-56 {
  font-size: 56px;
}

.fs-24 {
  font-size: 24px;
}

.sign-up-btn {
  font-size: 28px;
}

.landing-page-img {
  width: 100%;
  max-height: 735px;
  opacity: .7;
  object-fit: cover;
  filter: brightness(40%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.landing-page-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-movie-poster {
  position: relative;
}

.movie-poster-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}


/* SECTION TRENDING */


.prev-button-trending {
  position: absolute; 
  top: 50%; 
  left: -20px; 
  transform: translateY(-50%); 
  z-index: 100; 
}

.next-button-trending {
  position: absolute; 
  top: 3%; 
  right: 10px; 
  transform: translateY(-50%); 
  z-index: 300; 
}

.next-button-trending {
  transform: translateY(160px);
}


.trending-img {
  height: 360px;
}

.section-featured {
  margin-top: 40px;
  margin-bottom: 120px;
}

.section-trending, .section-action-movies, .mt-80 {
  margin-top: 80px;
}

/* SECTION HOVER */
.top-10-img:hover, .trending-img:hover, .action-movies-img:hover, .featured-img:hover, .popular-img:hover {
  scale: 1.1;
  border: 1px solid var(--text-color);
  filter: brightness(0.7);
  cursor: pointer;
}

.top-10-images:hover .top-10-text {
  transform: translateX(-16px);
  color: var(--text-color);
}

.trending-images {
  position: relative;
  overflow: visible; 
}

.play-button {
  font-size: 30px;
  z-index: 100;
}

.play-button-comedy, .play-button-featured, .play-button-popular {
  font-size: 20px;
}

.play-button, .play-button-featured {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 50%;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.trending-images:hover .play-button {
  opacity: 0.8; /* Show on hover */
  transform: translate(-50%, -50%) scale(1.2); 
  cursor: pointer;
  z-index: 200;
}

.featured-wrapper {
  position: relative;
  overflow: visible !important;
  width: 100%; 
}

.featured-images-container {
  display: flex;  
  transition: transform 0.5s ease-in-out;
}


.hide-btn {
  display: none;
}

/* SECTION MORE REASONS */
.section-more-reasons  {
  margin-top: 60px;
}

.more-reasons-box {
  background: linear-gradient(to bottom, #121212 20%, #1b0f30 60%, #110a1f 100%);
  border: none;
  color: white;
  border-radius: 10px; 
  height: 350px;
}

.box-text {
  color: var(--box-text);
}

.box-icon {
  font-size: 48px;
}

.footer-landing-page {
  padding: 140px 30px 0 30px;
  background: linear-gradient(to top, #0A0F1A, #1A2536, #1F2A37);
  
  /* Adjust the gradient stops to reduce blur height */
  -webkit-mask-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 0%,  /* Start fully transparent */
    rgba(0, 0, 0, 0.3) 20%, /* Light blur starts earlier */
    rgba(0, 0, 0, 0.8) 40%, /* Heavier blur starts sooner */
    rgba(0, 0, 0, 1) 60% /* Fully visible content appears quicker */
  );

  mask-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 0%,  
    rgba(0, 0, 0, 0.3) 20%, 
    rgba(0, 0, 0, 0.8) 40%, 
    rgba(0, 0, 0, 1) 60% 
  );
}

/* SECTION MODALS */
.modal-close-button {
  right: 20px;
  top: 20px;
}

.modal-content {
  padding: 0; 
  border-radius: 0; 
}

.modal-body {
  padding: 0; 
}

.modals {
  border-radius: 10px;
  border: 2px solid rgb(37, 36, 36);
}

#hello-love-title {
  width: 350px;
  height: 70px;
}

#demon-city-title {
  height: 90px;
}

#incognito-title {
  height: 70px;
}

.poster-title-img {
  position: absolute;
  bottom: 20px;
  left: 26px;
  width: 300px;
  height: 60px !important;
  object-fit: cover;
}

.sosyal-wallpaper {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
  display: block;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.modal-text-rating {
  border-radius: 4px;
  padding: 2px 6px;
  color: var(--box-text);
  background-color: #444141;
}

.color-light-white {
  color: var(--box-text);
}

/* SECTION MEDIA QUERY */

@media (min-width: 768px) and (max-width: 991px) {
  .third-col {
    margin: 0 auto; /* Center horizontally */
    display: flex; 
    justify-content: center; /* Center content inside */
  }
}

@media (max-width: 768px) {
  .landing-page-img {
    height: 550px;
  }
  .endless-movies {
    font-size: 42px;
  }
}