:root {
  --db-text-sec: #f4fff8;
  --secondary-color: #6c757d;
  --db-bg-primary: #607EBC; /* STEEL BLUE */
  --dark: #343a40;
  --bootstrap-dark: #212529;
  --bg-table: 		#2a2f34;
}

.card-icon-container {
  width: 86px;
  height: 86px;
  border-radius: 4px;
}

.db-card-icon {
  font-size: 32px;
  color: var(--db-text-sec);
}

.db-text-sec {
  color: var(--db-text-sec);
}

.card-divider {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-color);
}

#pieGraph {
  height: 257px !important;
  width: 100% !important;
  max-height: 257px;
}

.card-chart-container {
  height: 257px; /* Match the canvas height */
}

.main-bg-dark {
  background-color: var(--bootstrap-dark);
}

.table-task-top, .emp-stats-top {
  background-color: var(--db-bg-primary) !important;
  border-radius: 4px;
  
}

table thead tr td, 
table thead tr th,
table tbody tr td, table tbody tr th {
  background-color: #2c3034 !important;
  color: var(--db-text-sec) !important;
  border-color: var(--secondary-color);
}

.bugs-container {
  background-color: 		#7FA5D5 !important;
  border-radius: 4px;
  width: fit-content;
}

.fa-delete-left, .fa-pen-to-square {
  font-size: 18px;
}

input[type="checkbox"] {
  transform: scale(1.1);  
}

.modal-content {
  background-color: #2c3034 !important;
}

.modal-header, .modal-footer {
  border-color: #6c757d !important;
}

.modal input {
  background-color: transparent !important; /* lighter than #2c3034 */
  color: var(--db-text-sec);             /* white text */
  border: 1px solid var(--secondary-color) !important;    /* subtle border */
}

.modal input:focus {
  color: var(--db-text-sec);
}

/* <!-- =========== COMPANY PROFILE ========== --> */
.input-cp, .textarea-about {
  border: none;
  background-color:   transparent;
  border-bottom: 1px solid var(--secondary-color);
}

.input-cp:disabled, .textarea-about:disabled {
  color: var(--db-text-sec);
}

textarea {
  padding: 0 !important;
}

.textarea-about {
  text-indent: 30px !important;
  resize: none;
  text-align: justify;
  /* overflow: hidden !important; */
}


.textarea-about::placeholder {
  color: #fff;
}

.textarea-about::-webkit-scrollbar {
  width: 6px; /* Smaller scrollbar */
}

.textarea-about::-webkit-scrollbar-track {
  background-color: #333; /* Light gray background */
}

.textarea-about::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
}

.textarea-about::-webkit-scrollbar-thumb:hover {
  background-color: #666; 
}

.follow-btn {
  width: 150px !important;
  border-radius: 24px !important;
}

.dt-length .dropdown-toggle {
  color: #fff !important;
}

.dt-length select, .dt-search input {
  background-color: var(--bg-table)!important;
  color: var(--db-text-sec);
}

.dt-search input::placeholder {
  color: var(--secondary-color);
} 

.form-select {
  color: #fff;
}

.dt-length, .dt-search input {
  color: var(--db-text-sec) !important;
}

.pagination .dt-paging-button button {
  background-color: var(--bg-table)!important;
  color: var(--db-text-sec) !important;
}

/* Target any DataTables length dropdown */
select[id^="dt-length-"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14l-4.796-5.481C1.972 5.21 2.456 4.5 3.204 4.5h9.592c.748 0 1.232.71.753 1.159l-4.796 5.481a1 1 0 0 1-1.506 0z'/></svg>");

}

.text-align-left {
  text-align: left !important;
}

.file-trending::-webkit-file-upload-button {
  background-color: transparent !important;
  color: var(--db-text-sec) !important;
  border-color: var(--secondary-color) !important;
}

.file-trending {
  background-color: transparent !important;
  color: var(--db-text-sec) !important;
  border-color: var(--secondary-color) !important;
} 

.file-trending::placeholder {
  color: var(--secondary-color) !important;
}

select {
    background-color: var(--bootstrap-dark) !important;
    color: var(--db-text-sec) !important;
    border-color: var(--secondary-color) !important;
}

.genre-container, .category-container {
  position: relative;
}

.caret-genre {
  position: absolute;
  color: var(--db-text-sec);
  bottom: 12px;
  right: 15px;
  pointer-events: none; /* avoid clicking the icon */
}

.caret-category {
  position: absolute;
  color: var(--db-text-sec);
  bottom: 194px;
  right: 28px;
  pointer-events: none; /* avoid clicking the icon */
}
  
.fa-user-container {
  width: 70px;
  height: 70px; 
  font-size: 28px;
}

.mp-info {
  margin-right: 120px;
}

.mp-info-last {
  margin-right: 170px;
}

#modal-edit-btn {
  background-color: var(#607EBC);
}

.btn-primary {
  background-color: var(--db-bg-primary) !important;
}