:root {
    --db-bg-primary: #607EBC; /* STEEL BLUE */
}

body {
  background-color: var(--bg-body) !important;
  margin-top: 55px !important;
  margin-left: 260px !important;
}


#dashboard-search {
  padding-left: 30px;
  background-color: var(--placeholder-color);
}

#dashboard-search::placeholder {
  color:  var(--placeholder-color);
}

#dashboard-search:focus {
  border-color: #fff !important;  
}

.search-container:focus-within label .fa-search {
  color: #fff !important;  
}

#search-icon {
  bottom: 7px;
  left: 10px;
  position: absolute;
  color:  var(--placeholder-color);
}

.dashboard-pfp {
  width: 38px;
}

.dashboard-dropdown-pfp {
  width: 36px;
}

.badge-bell {
  top: 0;
  right: -2px;
}

#button-bell {
  width: 40px;
  height: 40px; 
  border-radius: 50%;      
}

#bell-container:hover #button-bell {
  background-color: #607EBC !important;
}

.badge-bell:hover {
  cursor: pointer;
}

.notif-text:hover {
  cursor: default;
}

.view-profile-text {
  margin-top: 4px;
  margin-bottom: -6px;
}

.dropdown-item:active {
  background-color: var(--dashboard-primary) !important;
}

.header-user:hover {
  background-color: var(--db-bg-primary) !important;
}

/* <!-- ========== START OF SIDEBAR ========== --> */

.sidebar {
  width: 260px;
  height: 100%;
  margin-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 6px; /* Smaller scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #333; /* Light gray background */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Lighter black on hover */
}

.sidebar-container {
  margin-top: 16px;
}

.sidebar-content-item, 
.sidebar-collapse-acc, 
.sidebar-collapse-movies {
  margin-left: 20px;
  margin-right: 20px;
  padding: 6px 13px !important;
  border-radius: 4px;
}


.sidebar-collapse-acc, 
.sidebar-collapse-movies {
  font-size: 14px !important;
}

.sidebar-content-item:hover, 
.sidebar-collapse-acc:hover,
.sidebar-collapse-movies:hover {
  background-color: var(--dashboard-primary);
  cursor: pointer;
}

.aside-icon {
  font-size: 28px !important;
}

.sidebar-text {
  font-size: 16px !important;
}

.sidebar-text-collapse {
  padding-left: 28px;
}

.sidebar-anchor {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

/* .sidebar-content-item:nth-child(1) {
  background-color: var(--dashboard-primary);
} */

.sidebar-collapse-movies:last-child {
  margin-bottom: 70px;
}

/* <!-- ========== START OF OFFCANVAS ========== --> */

.offcanvas {
  width: 320px !important;
}

.offcanvas-content {
  margin-top: -16px !important;
}

.offcanvas-body::-webkit-scrollbar {
  width: 6px; /* Smaller scrollbar */
}

.offcanvas-body::-webkit-scrollbar-track {
  background-color: #333; /* Light gray background */
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
  background-color: #666; 
}


/* ========== MEDIA QUERY ==========*/

@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
  body {
    margin-left: 0 !important;
    background-color: green;
  }
}

/* ========== MAIN CONTENT ==========*/

