:root {
  --dashboard-primary: #607EBC; /* STEEL BLUE */
  --dashboard-secondary: #D1E0D7; /* SOFT MINT */
  --bg-body: #161b22;
  --border-color: #30363d;
  --placeholder-color: #9198A1;
  --secondary-color: #6c757d;
  --dark: #343a40;
  --header-color: #181818;
  --db-text-sec: #f4fff8;
}

body {
  font-family: 'Poppins', sans-serif !important ;
}

.db-bg-primary {
  background-color: var(--dashboard-primary) !important;
}

.db-text-primary {
  color: var(--dashboard-primary) !important;
}

.db-text-secondary {
  color: var(--secondary-color) !important;
}

.db-text-sec {
  color: var(--db-text-sec) !important;
}

.flexbox-align {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}


.fs-24 {
  font-size: 24px !important;
}

